:root{
    margin:0;
    padding:0;
}

body{
    font-family:Arial, sans-serif;
    color: #202124;
    font-size: 14px;
    text-decoration: none;
}
.bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:25px;
}
#bar{
    font-size: 16px;
    border: 1px solid rgb(211, 203, 203);
    border-radius: 20px;
    width: 500px;
    height: 40px;
    padding: 0px 20px;
}
#bar:hover{
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
}
input:focus{
    outline:none;
}
$breakpoint-tablet: 768px;
$breakpoint-mobile: 425px;

@media screen and ($breakpoint-mobile <= width <= $breakpoint-tablet){
    body{
        font-size: 12px;
    }
  #bar {
    font-size: 12px;
    width: 300px;
    height:30px;
    border-radius: 15px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .bar{
    margin-top: 15px;
  }
  #lucky,#search{
    font-size: 12px;
    width: 80px;
    max-width: 110px;
    
  }
  .img{
    margin: 0 auto;
  }
  #img{
    width: 200px;
  }
  #advanced{
    right: 100px;
  }
  #advanced-box input{
    width:200px;
  }
}

@media screen and (max-width:$breakpoint-mobile) {
    body{
        font-size: 10px;
    }
  #bar {
    width: 200px;
    font-size: 10px;
    height:20px;
    border-radius: 10px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .bar{
    margin-top: 10px;
  }
  #lucky,#search{
    font-size: 10px;
    max-width: 90px;
    width: 60px;
  }
  .img{
    margin: 0 auto;
  }
  #img{
    width: 100px;
  }
  #advanced{
    right: 80px;
  }
  #advanced-box input{
    width:100px;
  }
}
#image,#advanced{
    color: black;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top:150px;
}
#lucky,#search{
    text-align: center;
    width: 130px;
    height: 30px;
    cursor: pointer;
    margin-top: 30px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    border-radius: 2px;
}
#lucky:hover,#search:hover{
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
#container{
    display:flex;
    column-gap: 10px;
    justify-content: flex-end;
}
label{
    width: 200px;
    display:inline-block;
}
#advanced-box{
  max-width: 922px;
}
#advanced-box input{
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid rgb(200, 197, 197);
    margin: 10px;
    left:200px;
    width: 70%;
    height: 25px;
    border-radius:2px;
}
#advanced-box input:focus{
    border: 1px solid rgb(42, 74, 201);
    box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
}
#ad-srch{
    height: 30px;
    min-width: 120px;
    background-color: rgb(77 144 254);
    border: 2px rgb(48 121 237);
    color: white;
    text-align: center;
    border-radius:2px;
    cursor: pointer;
    font-weight: bold;
    white-space: nowrap;
    padding:0 10px;
    box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
}
